.no-padding{
    padding: 0;
}

.no-margin{
    margin: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: white!important;
}

.navbar-light .navbar-nav .nav-link.disabled{
    color: #c7b5dc;
}

.content-card{
    background: white;
    padding: 10px;
    box-shadow: 0 0 10px #00000040;
    border-radius: 2px;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}
